// Content

.content {
	position: absolute;
	z-index: 1;
	background-color: white;
	width: 90%;
	margin-bottom: 10rem;

	&:not(.slim) {
		top: 100%;
	}

	&.slim {
		top: 50%;
	}

	&:not(.fluid) {
		padding-right: 5%;
		padding-left: 5%;
	}

	&.fluid {
		width: 100%;
	}
}
